# Praca domowa #3

In [1]:
import pandas as pd
import numpy as np

# Podstawowe zadanie

In [37]:
X = pd.read_csv('australia.csv')
X.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,17.9,35.2,0.0,12.0,12.3,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,0,0
1,18.4,28.9,0.0,14.8,13.0,37.0,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,0,0
2,19.4,37.6,0.0,10.8,10.6,46.0,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,0,0
3,21.9,38.4,0.0,11.4,12.2,31.0,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,0,0
4,24.2,41.0,0.0,11.2,8.4,35.0,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,0,0

In [4]:
X.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
count,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000
mean,13.464770,24.219206,2.130397,5.503135,7.735626,40.877366,15.667228,19.786778,65.874123,49.601985,1017.239505,1014.795580,4.241705,4.326515,18.204961,22.710333,0.220879,0.220259
std,6.416689,6.970676,7.014822,3.696282,3.758153,13.335232,8.317005,8.510180,18.513289,20.197040,6.909357,6.870892,2.797162,2.647251,6.567991,6.836543,0.414843,0.414425
min,-6.700000,4.100000,0.000000,0.000000,0.000000,9.000000,2.000000,2.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-0.700000,3.700000,0.000000,0.000000
25%,8.600000,18.700000,0.000000,2.800000,5.000000,31.000000,9.000000,13.000000,55.000000,35.000000,1012.700000,1010.100000,1.000000,2.000000,13.100000,17.400000,0.000000,0.000000
50%,13.200000,23.900000,0.000000,5.000000,8.600000,39.000000,15.000000,19.000000,67.000000,50.000000,1017.200000,1014.700000,5.000000,5.000000,17.800000,22.400000,0.000000,0.000000
75%,18.400000,29.700000,0.600000,7.400000,10.700000,48.000000,20.000000,26.000000,79.000000,63.000000,1021.800000,1019.400000,7.000000,7.000000,23.300000,27.900000,0.000000,0.000000
max,31.400000,48.100000,206.200000,81.200000,14.500000,124.000000,67.000000,76.000000,100.000000,100.000000,1040.400000,1038.900000,8.000000,9.000000,39.400000,46.100000,1.000000,1.000000

In [5]:
y = X['RainTomorrow']
X = X.drop('RainTomorrow', axis = 1)

## Podział

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42)

## Regresja logistyczna

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score

lr = LogisticRegression(penalty='l2', max_iter=1000)



lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

print('ROC:', roc_auc_score(y_test, y_pred))
print('Accuracy:', accuracy_score(y_test, y_pred))
print('F1:', f1_score(y_test, y_pred))

ROC: 0.7395765404011281
Accuracy: 0.8544842254519673
F1: 0.619731357109773

## Drzewo decyzyjne

In [10]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier(criterion='entropy')

dtc.fit(X_train, y_train)
y_pred = dtc.predict(X_test)

print('ROC:', roc_auc_score(y_test, y_pred))
print('Accuracy:', accuracy_score(y_test, y_pred))
print('F1:', f1_score(y_test, y_pred))

ROC: 0.7092950902171292
Accuracy: 0.7965260545905707
F1: 0.5471995792795161

## Naiwny klasyfikator Bayesowski

In [11]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB(var_smoothing=1e-6)

nb.fit(X_train, y_train)
y_pred = nb.predict(X_test)

print('ROC:', roc_auc_score(y_test, y_pred))
print('Accuracy:', accuracy_score(y_test, y_pred))
print('F1:', f1_score(y_test, y_pred))

ROC: 0.7582233358845053
Accuracy: 0.8000708968450904
F1: 0.6033755274261603

## Podsumowanie

Z powyższych modeli najgorzej wypada drzewo decyzyjne. Pozostałem mają podobne wyniki, regeresja logistyczna wypada lepiej w 'accurracy', jednak nie uwzględnia tego co przewidujemy - lepiej wyjść z parasolem w słoneczny dzień, niż zmoknąć w dzień, który miał być słoneczny.

# Dodatkowy punkt

In [12]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

df = pd.read_csv('https://www.dropbox.com/s/360xhh2d9lnaek3/allegro-api-transactions.csv?dl=1')
df = df.loc[1:df.shape[0]/100,:]

y = df['price']
X = df.drop('price', axis = 1)

X = X.drop(['lp','date', 'categories', 'seller', 'main_category', 'item_id'], axis = 1)

In [13]:
len(set(X.it_location))

1090

In [14]:
#regulacja nazw miejscowosci
import unidecode

X['it_location'] = X['it_location'].apply(lambda x : unidecode.unidecode(x.lower()))

In [15]:
len(set(X.it_location))

912

Dzięki uwzględnieniu różnych zapisów miejscowości udało się zmniejszyc ich ilość o ponad 15%

In [23]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
lr = LinearRegression()

## Target encoding

In [17]:
import category_encoders as ce

X_tg = X.copy()

te = ce.TargetEncoder(X_tg)

encoded = te.fit_transform(X_tg["it_location"],X_tg["it_seller_rating"])

X_tg["location_encoded"] = encoded

X_tg = X_tg.drop('it_location', axis = 1)

X_train, X_test, y_train, y_test = train_test_split(
    X_tg, y, test_size=0.33, random_state=42)

X_tg.head()

lr.fit(X_train, y_train)

y_pred = lr.predict(X_test)

print('RMSE',mean_squared_error(y_test, y_pred))
print('R2',r2_score(y_test, y_pred))

RMSE 23728.00617388162
R2 -0.001734675325987034

In [32]:
from sklearn.preprocessing import OneHotEncoder

X_ohc = X.copy()

ohc = OneHotEncoder()
ohe = ohc.fit_transform(X_ohc.it_location.values.reshape(-1,1)).toarray()
dfOneHot = pd.DataFrame(ohe, columns = [str(ohc.categories_[0][i])
                                       for i in range (len(ohc.categories_[0]))])
df_ohc = pd.concat([X_ohc, dfOneHot], axis=1)

X_ohc = X_ohc.drop('it_location', axis = 1)

X_train, X_test, y_train, y_test = train_test_split(
    X_ohc, y, test_size=0.33, random_state=42)

lr.fit(X_train, y_train)

y_pred = lr.predict(X_test)

print('RMSE',mean_squared_error(y_test, y_pred))
print('R2',r2_score(y_test, y_pred))

RMSE 23736.28228848435
R2 -0.0020840713482983553

In [33]:
encoder = ce.BinaryEncoder(cols=['it_location'])
dfbin = encoder.fit_transform(X["it_location"])
df_binary = pd.concat([X, dfbin], axis=1)
X_bin = df_binary.drop('it_location', axis = 1)

X_train, X_test, y_train, y_test = train_test_split(
    X_bin, y, test_size=0.33, random_state=42)

lr.fit(X_train, y_train)

y_pred = lr.predict(X_test)

print('RMSE',mean_squared_error(y_test, y_pred))
print('R2',r2_score(y_test, y_pred))

RMSE 23947.177707214127
R2 -0.010987527132187536

### Podsumowanie

Z tych 3 encoderów najlepiej wypadł TargetEncoder